$offWhite: #FAFAFA
$classyGrey: #EEEEEE
$disabledGrey: #CCCCCC
$shadowNinja: #555555
$offBlack: #111111



$magneticDrop: #90D0F0
$magneticDropHover: $magneticDrop + #333333


/* deltas */
$hoverBrighter: #222222;

/* dependent*/
$backgroundColor: $magneticDrop
