.function-ordering
  flex: 1 1 auto

  display: flex
  flex-flow: row wrap
  max-width: $comparisonSelectorWidth

  background-color: #eeeeee

  .function
    flex: 1 1 auto
    width: 50%

    text-align: center
    @include make-square()

    border: 0.1rem solid black
    background-color: $disabledGrey


  .function-spacer
    @extend .function

    background-color: transparent
    border: none