.dichotomy-selector
  display: flex
  flex-flow: row nowrap
  
  max-width: $comparisonSelectorWidth

  background-color: $magneticRed

  &#primary-selector
    max-width: $primarySelectorWidth

    margin: 0 auto

  .dichotomy-button
    flex: 1 1 0

    text-align: center

    border: 0.1rem solid black
    font-size: 2rem

    &:before
      padding-top: 100%
      content: ""
      display: inline-block
      vertical-align: middle
