.dichotomy-selector
  display: flex
  flex-flow: row nowrap
  max-width: $primarySelectorWidth

  background-color: $magneticRed
  border: 0.1em solid black

  &#primary-selector
    margin: 0 auto
  
  .dichotomy-button
    flex: 1 1 0

    border: 0.25rem solid black

    text-align: center

    &:before
      padding-top: 100%
      content: ""
      display: inline-block
      vertical-align: middle
      
