#ir-comparison
  display: flex
  flex-flow: row nowrap

  justify-content: center

  .ir-block
    flex: 0 1 auto

    display: flex
    flex-flow: column nowrap
    align-content: center

    text-align: center